// Colores
$blanco: #fff;
$negro: #000;
$rojo: #f00;

// Fuente
$fuente: 'Roboto', sans-serif;

// Tamaño
$titulo: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;
$h6: 0.75rem;
$parrafo: 1rem;